In [90]:
import pandas as pd
dataset=pd.read_csv("kidney_disease.csv")

In [91]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [92]:
dataset.isnull().sum()

id                  0
age                 9
bp                 12
sg                 47
al                 46
su                 49
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                44
bu                 19
sc                 17
sod                87
pot                88
hemo               52
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [31]:
dataset.sort_values(by='age',ascending=True)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
215,215,2.0,NaN,1.010,3.0,0.0,normal,abnormal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,yes,no,ckd
187,187,3.0,NaN,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,34,12300,NaN,no,no,no,good,no,no,ckd
185,185,4.0,NaN,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,34,\t?,NaN,no,no,no,good,no,no,ckd
75,75,5.0,NaN,1.015,1.0,0.0,NaN,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,no,yes,ckd
131,131,5.0,50.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,12400,NaN,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
117,117,NaN,70.0,1.020,0.0,0.0,NaN,NaN,notpresent,notpresent,...,37,9800,4.4,no,no,no,good,no,no,ckd
169,169,NaN,70.0,1.010,0.0,2.0,NaN,normal,notpresent,notpresent,...,27,NaN,NaN,yes,yes,no,good,no,yes,ckd
191,191,NaN,70.0,1.010,3.0,0.0,normal,normal,notpresent,notpresent,...,26,9200,3.4,yes,yes,no,poor,no,no,ckd
203,203,NaN,90.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,NaN,NaN,NaN,yes,yes,no,good,no,yes,ckd
268,268,NaN,80.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,53,8500,4.9,no,no,no,good,no,no,notckd

In [82]:
medval=dataset["bu"].mean()
medval

57.425721784776904

In [33]:
dataset["age"].fillna(medval,inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1620176330.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["age"].fillna(medval,inplace=True)

In [34]:
dataset
dataset.sort_values(by='age',ascending=True)

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
215,215,2.0,NaN,1.010,3.0,0.0,normal,abnormal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,yes,no,ckd
187,187,3.0,NaN,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,34,12300,NaN,no,no,no,good,no,no,ckd
185,185,4.0,NaN,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,34,\t?,NaN,no,no,no,good,no,no,ckd
75,75,5.0,NaN,1.015,1.0,0.0,NaN,normal,notpresent,notpresent,...,NaN,NaN,NaN,no,no,no,good,no,yes,ckd
131,131,5.0,50.0,1.010,0.0,0.0,NaN,normal,notpresent,notpresent,...,36,12400,NaN,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
237,237,80.0,70.0,1.015,2.0,2.0,NaN,normal,notpresent,notpresent,...,40,9600,NaN,yes,yes,no,poor,yes,no,ckd
160,160,81.0,60.0,NaN,NaN,NaN,NaN,NaN,notpresent,notpresent,...,35,9400,2.4,yes,yes,yes,poor,yes,no,ckd
39,39,82.0,80.0,1.010,2.0,2.0,normal,NaN,notpresent,notpresent,...,40,9800,4.2,yes,yes,no,good,no,no,ckd
171,171,83.0,70.0,1.020,3.0,0.0,normal,normal,notpresent,notpresent,...,26,12800,3.1,yes,no,no,poor,no,yes,ckd
200,200,90.0,90.0,1.025,1.0,0.0,NaN,normal,notpresent,notpresent,...,37,7900,3.9,yes,yes,no,good,no,no,ckd

In [93]:
def quanQual(dataset):
    quan=[]
    qual=[]
    for columnName in dataset.columns:
        #print(columnName)
        if(dataset[columnName].dtype=='O'):
            #print("qual")
            qual.append(columnName)
        else:
            #print("quan")
            quan.append(columnName)
    return quan,qual

In [100]:
quan,qaul=quanQual(dataset)
dataset[quan]

      id   age    bp     sg   al   su    bgr    bu   sc    sod  pot  hemo
0      0  48.0  80.0  1.020  1.0  0.0  121.0  36.0  1.2    NaN  NaN  15.4
1      1   7.0  50.0  1.020  4.0  0.0    NaN  18.0  0.8    NaN  NaN  11.3
2      2  62.0  80.0  1.010  2.0  3.0  423.0  53.0  1.8    NaN  NaN   9.6
3      3  48.0  70.0  1.005  4.0  0.0  117.0  56.0  3.8  111.0  2.5  11.2
4      4  51.0  80.0  1.010  2.0  0.0  106.0  26.0  1.4    NaN  NaN  11.6
..   ...   ...   ...    ...  ...  ...    ...   ...  ...    ...  ...   ...
395  395  55.0  80.0  1.020  0.0  0.0  140.0  49.0  0.5  150.0  4.9  15.7
396  396  42.0  70.0  1.025  0.0  0.0   75.0  31.0  1.2  141.0  3.5  16.5
397  397  12.0  80.0  1.020  0.0  0.0  100.0  26.0  0.6  137.0  4.4  15.8
398  398  17.0  60.0  1.025  0.0  0.0  114.0  50.0  1.0  135.0  4.9  14.2
399  399  58.0  80.0  1.025  0.0  0.0  131.0  18.0  1.1  141.0  3.5  15.8

[400 rows x 12 columns]

In [133]:
dataset.isnull().sum()

id                  0
age                 0
bp                  0
sg                  0
al                  0
su                  0
rbc               152
pc                 65
pcc                 4
ba                  4
bgr                 0
bu                  0
sc                  0
sod                 0
pot                 0
hemo                0
pcv                70
wc                105
rc                130
htn                 2
dm                  2
cad                 2
appet               1
pe                  1
ane                 1
classification      0
dtype: int64

In [140]:
dataset["age"].fillna(dataset["age"].median(),inplace=True)
dataset["bp"].fillna(dataset["bp"].median(),inplace=True)
dataset["sg"].fillna(dataset["sg"].median(),inplace=True)
dataset["al"].fillna(dataset["al"].median(),inplace=True)
dataset["su"].fillna(dataset["su"].median(),inplace=True)
dataset["bgr"].fillna(dataset["bgr"].median(),inplace=True)
dataset["bu"].fillna(dataset["bu"].median(),inplace=True)
dataset["sc"].fillna(dataset["sc"].median(),inplace=True)
dataset["sod"].fillna(dataset["sod"].median(),inplace=True)
dataset["pot"].fillna(dataset["pot"].median(),inplace=True)
dataset["hemo"].fillna(dataset["hemo"].median(),inplace=True)
dataset["pcv"].fillna(dataset["pcv"].median(),inplace=True)
dataset["wc"].fillna(dataset["wc"].median(),inplace=True)
dataset["rc"].fillna(dataset["rc"].median(),inplace=True)

C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:1: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["age"].fillna(dataset["age"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:2: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["bp"].fillna(dataset["bp"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:3: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["sg"].fillna(dataset["sg"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:4: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["al"].fillna(dataset["al"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:5: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["su"].fillna(dataset["su"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:6: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["bgr"].fillna(dataset["bgr"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:7: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["bu"].fillna(dataset["bu"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:8: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["sc"].fillna(dataset["sc"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:9: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["sod"].fillna(dataset["sod"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:10: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["pot"].fillna(dataset["pot"].median(),inplace=True)
C:\Users\Admin\AppData\Local\Temp\ipykernel_25256\1280186820.py:11: FutureWarning: A value is trying to be set on a copy of a DataFrame or Series through chained assignment using an inplace method.
The behavior will change in pandas 3.0. This inplace method will never work because the intermediate object on which we are setting values always behaves as a copy.

For example, when doing 'df[col].method(value, inplace=True)', try using 'df.method({col: value}, inplace=True)' or df[col] = df[col].method(value) instead, to perform the operation inplace on the original object.


  dataset["hemo"].fillna(dataset["hemo"].median(),inplace=True)

TypeError: Cannot convert ['44' '38' '31' '32' '35' '39' '36' '44' '33' '29' '28' '32' '28' nan '16'
 '24' nan nan '37' '30' '24' '32' '32' nan '39' '29' '35' '37' nan '38'
 nan '30' '34' '29' nan '36' '32' '28' nan '40' '32' nan '33' '24' '28'
 nan '37' '45' '29' '29' '28' '33' '34' '40' '40' '28' '30' nan '33' nan
 nan nan '33' '27' nan '48' '\t?' nan '37' '52' '44' '28' nan '14' '29'
 nan '36' '34' '30' '40' '31' '29' nan nan '22' nan nan '32' nan nan '40'
 '52' '33' '30' '36' nan '36' '32' '18' '32' nan '33' '52' '36' nan '42'
 '17' '34' '37' nan '34' '32' '33' nan nan '44' nan '37' nan nan nan '46'
 nan '42' '28' nan '37' '35' '23' nan '22' '36' '24' '37' '33' '39' nan
 '29' nan '33' nan '19' nan nan '33' '24' nan '25' nan '32' '41' '30' '32'
 '22' '26' '36' nan '39' '31' '35' '35' '42' '37' '27' '40' nan nan '42'
 '39' '27' '33' '26' '34' '41' '35' nan '23' '41' '34' '39' '28' '30' '35'
 nan '31' '34' nan '34' '38' '29' '30' '26' nan '15' nan nan '24' nan '30'
 '25' '37' '21' '24' nan '31' '43' '41' '41' '41' nan '20' nan '31' '34'
 '\t43' nan '38' '36' '34' '28' '36' nan nan '38' nan '35' '26' '36' nan
 '31' nan '35' nan nan '44' '26' '25' '40' '28' '39' '36' '31' '28' '47'
 '40' '19' '26' nan '37' '9' '48' '52' '46' '42' '49' '52' '41' '46' '44'
 '45' '45' '41' '43' '45' '50' '48' '41' '48' '53' '48' '41' '42' '42' nan
 '44' '43' '41' '50' '44' '48' '52' '41' '44' '43' '52' '41' '44' '43'
 '50' '43' '52' '41' '52' '48' '40' '50' '41' '45' '48' '52' '43' '41'
 '48' '50' '45' '41' '52' '44' '48' '40' '44' '45' '48' '52' '41' '48'
 '48' '40' '52' nan '44' '48' '43' '45' nan '50' '41' '44' '45' '48' '42'
 '46' '44' '46' '43' '48' '40' '52' '44' '48' '43' '41' '50' '50' '42'
 '42' '52' '43' '44' '52' '43' '40' '48' '51' '41' '52' '47' '42' '45'
 '53' '43' '54' '40' '44' '45' nan '46' '50' '45' '46' '50' '51' '52' '47'
 '40' '48' '53' '49' '42' '50' '54' '40' '51' '49' '42' '52' '43' '50'
 '46' '52' '52' '44' '46' '54' '45' '47' '54' '49' '51' '53'] to numeric

In [111]:
dataset

,id,age,bp,sg,al,su,rbc,pc,pcc,ba,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,NaN,normal,notpresent,notpresent,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,NaN,normal,notpresent,notpresent,...,38,6000,NaN,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,normal,normal,notpresent,notpresent,...,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,normal,abnormal,present,notpresent,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,normal,normal,notpresent,notpresent,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,normal,normal,notpresent,notpresent,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,normal,normal,notpresent,notpresent,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [128]:
dataset[qaul]

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,NaN,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,NaN,normal,notpresent,notpresent,38,6000,NaN,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,NaN,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [130]:
import numpy as np
from sklearn.impute import SimpleImputer
imp = SimpleImputer(missing_values=np.nan, strategy='most_frequent')
imp.fit(dataset[qaul])
df=imp.transform(dataset[qaul])
df = pd.DataFrame(df,columns = qaul)

In [131]:
df

,rbc,pc,pcc,ba,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,normal,normal,notpresent,notpresent,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,normal,normal,notpresent,notpresent,38,6000,5.2,no,no,no,good,no,no,ckd
2,normal,normal,notpresent,notpresent,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,normal,abnormal,present,notpresent,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,normal,normal,notpresent,notpresent,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,normal,normal,notpresent,notpresent,47,6700,4.9,no,no,no,good,no,no,notckd
396,normal,normal,notpresent,notpresent,54,7800,6.2,no,no,no,good,no,no,notckd
397,normal,normal,notpresent,notpresent,49,6600,5.4,no,no,no,good,no,no,notckd
398,normal,normal,notpresent,notpresent,51,7200,5.9,no,no,no,good,no,no,notckd
399,normal,normal,notpresent,notpresent,53,6800,6.1,no,no,no,good,no,no,notckd

In [132]:
dataset[quan]

,id,age,bp,sg,al,su,bgr,bu,sc,sod,pot,hemo
0,0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,4.4,15.4
1,1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,4.4,11.3
2,2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,4.4,9.6
3,3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,2.5,11.2
4,4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,4.4,11.6
...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,4.9,15.7
396,396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,3.5,16.5
397,397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,4.4,15.8
398,398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,4.9,14.2
399,399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,3.5,15.8

In [134]:
combine=[dataset[quan],df]

In [135]:
combine

[      id   age    bp     sg   al   su         bgr    bu   sc         sod  pot  \
 0      0  48.0  80.0  1.020  1.0  0.0  121.000000  36.0  1.2  137.528754  4.4
 1      1   7.0  50.0  1.020  4.0  0.0  148.036517  18.0  0.8  137.528754  4.4
 2      2  62.0  80.0  1.010  2.0  3.0  423.000000  53.0  1.8  137.528754  4.4
 3      3  48.0  70.0  1.005  4.0  0.0  117.000000  56.0  3.8  111.000000  2.5
 4      4  51.0  80.0  1.010  2.0  0.0  106.000000  26.0  1.4  137.528754  4.4
 ..   ...   ...   ...    ...  ...  ...         ...   ...  ...         ...  ...
 395  395  55.0  80.0  1.020  0.0  0.0  140.000000  49.0  0.5  150.000000  4.9
 396  396  42.0  70.0  1.025  0.0  0.0   75.000000  31.0  1.2  141.000000  3.5
 397  397  12.0  80.0  1.020  0.0  0.0  100.000000  26.0  0.6  137.000000  4.4
 398  398  17.0  60.0  1.025  0.0  0.0  114.000000  50.0  1.0  135.000000  4.9
 399  399  58.0  80.0  1.025  0.0  0.0  131.000000  18.0  1.1  141.000000  3.5

      hemo
 0    15.4
 1    11.3
 2     9.6
 3    11.2
 4    11.6
 ..    ...
 395  15.7
 396  16.5
 397  15.8
 398  14.2
 399  15.8

 [400 rows x 12 columns],
         rbc        pc         pcc          ba pcv    wc   rc  htn   dm cad  \
 0    normal    normal  notpresent  notpresent  44  7800  5.2  yes  yes  no
 1    normal    normal  notpresent  notpresent  38  6000  5.2   no   no  no
 2    normal    normal  notpresent  notpresent  31  7500  5.2   no  yes  no
 3    normal  abnormal     present  notpresent  32  6700  3.9  yes   no  no
 4    normal    normal  notpresent  notpresent  35  7300  4.6   no   no  no
 ..      ...       ...         ...         ...  ..   ...  ...  ...  ...  ..
 395  normal    normal  notpresent  notpresent  47  6700  4.9   no   no  no
 396  normal    normal  notpresent  notpresent  54  7800  6.2   no   no  no
 397  normal    normal  notpresent  notpresent  49  6600  5.4   no   no  no
 398  normal    normal  notpresent  notpresent  51  7200  5.9   no   no  no
 399  normal    normal  notpresent  notpresent  53  6800  6.1   no   no  no

     appet   pe  ane classification
 0    good   no   no            ckd
 1    good   no   no            ckd
 2    poor   no  yes            ckd
 3    poor  yes  yes            ckd
 4    good   no   no            ckd
 ..    ...  ...  ...            ...
 395  good   no   no         notckd
 396  good   no   no         notckd
 397  good   no   no         notckd
 398  good   no   no         notckd
 399  good   no   no         notckd

 [400 rows x 14 columns]]

In [136]:
preprocessed=pd.concat(combine,axis=1)

In [137]:
preprocessed

,id,age,bp,sg,al,su,bgr,bu,sc,sod,...,pcv,wc,rc,htn,dm,cad,appet,pe,ane,classification
0,0,48.0,80.0,1.020,1.0,0.0,121.000000,36.0,1.2,137.528754,...,44,7800,5.2,yes,yes,no,good,no,no,ckd
1,1,7.0,50.0,1.020,4.0,0.0,148.036517,18.0,0.8,137.528754,...,38,6000,5.2,no,no,no,good,no,no,ckd
2,2,62.0,80.0,1.010,2.0,3.0,423.000000,53.0,1.8,137.528754,...,31,7500,5.2,no,yes,no,poor,no,yes,ckd
3,3,48.0,70.0,1.005,4.0,0.0,117.000000,56.0,3.8,111.000000,...,32,6700,3.9,yes,no,no,poor,yes,yes,ckd
4,4,51.0,80.0,1.010,2.0,0.0,106.000000,26.0,1.4,137.528754,...,35,7300,4.6,no,no,no,good,no,no,ckd
...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...,...
395,395,55.0,80.0,1.020,0.0,0.0,140.000000,49.0,0.5,150.000000,...,47,6700,4.9,no,no,no,good,no,no,notckd
396,396,42.0,70.0,1.025,0.0,0.0,75.000000,31.0,1.2,141.000000,...,54,7800,6.2,no,no,no,good,no,no,notckd
397,397,12.0,80.0,1.020,0.0,0.0,100.000000,26.0,0.6,137.000000,...,49,6600,5.4,no,no,no,good,no,no,notckd
398,398,17.0,60.0,1.025,0.0,0.0,114.000000,50.0,1.0,135.000000,...,51,7200,5.9,no,no,no,good,no,no,notckd
399,399,58.0,80.0,1.025,0.0,0.0,131.000000,18.0,1.1,141.000000,...,53,6800,6.1,no,no,no,good,no,no,notckd

In [138]:
preprocessed.isnull().sum()

id                0
age               0
bp                0
sg                0
al                0
su                0
bgr               0
bu                0
sc                0
sod               0
pot               0
hemo              0
rbc               0
pc                0
pcc               0
ba                0
pcv               0
wc                0
rc                0
htn               0
dm                0
cad               0
appet             0
pe                0
ane               0
classification    0
dtype: int64

In [139]:
preprocessed.to_csv("PreprocessChronicKidney.csv",index=False)